div.title{
    height: 30vh ;
    width: 30vw ;    
}
div.order{
    border-top-right-radius: 100%;
    width: 30vw;
    height: 50vh;
    background-color: #F5853F;
    position: absolute;
    left: 0px;
    bottom: 0px;
    animation-name: popp;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    animation-delay: 0.3s;
    
}
span.ord{
    position: relative;
    font-size: 6vh;
    top: 18vh;
    left: 2vh;
    color: #ddd;
    font-family: 'Baloo Paaji 2', cursive;
}
span.er{
    position: relative;
    font-size: 6vh;
    top: 28vh;
    left: -40vh;
    color: #ddd;
    font-family: 'Baloo Paaji 2', cursive;
}
img.bask{
    height:6vh;
    width: 6vw;
    position: relative;
    top: 9vh;
    left: 2vw;
}
@keyframes popp {
    from {width: 30vw; height: 50vh;}
    to {width: 33vw; height: 56vh;}

}
div.snax{
    border-radius: 50%;
    position: absolute;
    top: 32vh;
    left: 3vw;
    background-color: #ddd;
    height: 16vh;
    width: 8vw;
    animation-name: swerve;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    transition:  background-color 1s, height 1s, width 1s;
    animation-delay: 0.3s;
    
}
div.snax:hover{
    background-color: #b3b3b3;
    height: 18vh;
    width: 9vw;
   
}
img.burg{
    height:10vh;
    width:10vw;
    position: relative;
    top: 16%;
    right: 11%;
    
    
}
@keyframes swerve{
    from {top:32vh;}
    to {top:23vh;}
}
div.main{
    border-radius: 50%;
    position: absolute;
    left: 15vw;
    top: 39vh;
    background-color: #ddd;
    height: 16vh;
    width: 8vw;
    animation-name: swervee;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    transition:  background-color 1s, height 1s, width 1s;
    animation-delay: 0.3s;
    
}
div.main:hover{
    background-color: #b3b3b3;
    height: 18vh;
    width: 9vw;
   
}
img.curry{
    height: 10vh;
    width:10vw;
    position: relative;
    top: 16%;
    right: 11%;
}
@keyframes swervee{
    from {left: 15vw; top: 39vh;}
    to {left: 17vw; top: 31vh;}
}
div.drinks{
    border-radius: 50%;
    position: absolute;
    left: 25vw;
    top: 55vh;
    background-color: #ddd;
    height: 16vh;
    width: 8vw;
    animation-name: swerveee;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    transition:  background-color 1s, height 1s, width 1s;
    animation-delay: 0.3s;
}
div.drinks:hover{
    background-color: #b3b3b3;
    height: 18vh;
    width: 9vw;
   
}
img.jews{
    height: 10vh;
    width:10vw;
    position: relative;
    top: 16%;
    right: 11%;
}
@keyframes swerveee{
    from{left:25vw; top:55vh;}
    to{left:29vw; top:50vh}
}
div.desserts{
    border-radius: 50%;
    position: absolute;
    left: 31vw;
    bottom: 2vh;
    background-color: #ddd;
    height: 16vh;
    width: 8vw;
    animation-name: swerveeee;
    animation-duration: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;  
    transition:  background-color 1s, height 1s, width 1s;
    animation-delay: 0.3s;
}
div.desserts:hover{
    background-color: #b3b3b3;
    height: 18vh;
    width: 9vw;
   
}
img.crim{
    height: 10vh;
    width:10vw;
    position: relative;
    top: 16%;
    right: 11%;
}
@keyframes swerveeee{
    from{left:31vw;}
    to{left:38vw;}
}
div.scam{
    position:absolute;
    width:65%;
    
    right:10vw;
    top:13vh;
    font-family: 'Baloo Paaji 2', cursive;
}
.p1, .p2, .p3, .p4, .p5 {
    position: absolute;
    color:#ddd;
    font-family: 'Baloo Paaji 2', cursive;
    font-size: 5vh;
}
.p1{
    left:11vw;
    top:17vh;
    visibility: hidden;
    animation-name: wush;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    

}
@keyframes wush{
    from{left:21vw; opacity: 0; visibility:hidden;}
    to{left:11vw; opacity:1; visibility: visible;}
}
.p2{
    left:17vw;
    top:27vh;
    visibility: hidden;
    animation-name: wushh;
    animation-duration: 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

}
@keyframes wushh{
    from{left:27vw; opacity: 0; visibility: hidden;}
    to{left:17vw; opacity: 1; visibility: visible;}
}
.p3{
    left:21.5vw;
    top:37vh;
    visibility: hidden;
    animation-name: wushhh;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

}
@keyframes wushhh{
    from{left:31.5vw; opacity: 0; visibility: hidden;}
    to{left:21.5vw; opacity: 1; visibility: visible;}
}

.p4{
    left:25.5vw;
    top:50vh;
    visibility: hidden;
    animation-name: wushhhh;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;

}@keyframes wushhhh{
    from{left:35.5vw; opacity: 0; visibility: hidden;}
    to{left:25.5vw; opacity: 1; visibility: visible;}
}
.tick{
    height: 10vh;
    width:auto;
}
.buy{
    color:#ddd;
    font-size: 4vh;
    background-color: rgb(92, 138, 236);
    width:16vw;
    height:7vh;
    position: absolute;
    bottom:8vh;
    right:24vw;
    font-family: 'Baloo Paaji 2', cursive;
    border: 0px;
    border-radius: 20px;
    animation-name: fade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: width 1s, height 1s, background-color 1s;
    text-align: center;
    padding: 10px 0px;
}
.buy:hover{
    width: 17vw;
    background-color: rgb(51, 110, 238);
}
h1{
    animation-name: fade;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes fade{
    from{opacity:0;}
    to{opacity: 1;}
}
.ha{
    text-decoration: none;
}
a:visited, a:active {
    color: #ddd;
  }
#botn{
    font-family: 'Baloo Paaji 2', cursive;
    color:#ddd;
    width:19vw;
    height:10vh;
    font-size: 5vh;
    position: absolute;
    padding: 8px 16px;
    top:10px;
    right:10px;
    background-color: rgb(92, 138, 236,0.4);
    outline: none;
    border:none;
    border-radius: 25px;

}
#light-content{
    height:100%;
    width:100%;
    background-image: url("https://cdn.discordapp.com/attachments/430704906169614338/699906408186904636/unknown.png");
    background-size: cover;
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    top:0px;
    left:0px;
    z-index: -1;

}
#light-content.light{
    opacity:1;
}
.phone{
    width:100%;
        height:100%;
        background-color: rgb(221, 125, 0);
        position: fixed;
        top:0;
        left:0;
        z-index:1000;
        color:white;
        display: none;
}
@media screen and (min-device-width:300px) and (max-device-width:400px){
    .phone{
        width:100%;
        height:100%;
        background-color: rgb(221, 125, 0);
        position: fixed;
        top:0;
        left:0;
        z-index:1000;
        color:white;
        display: block;
    }
}